/* en attente
@keyframes remplissage {
    0% {
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    100% {
        text-shadow: none;
        color: transparent;
        background-image: linear-gradient(to bottom, $couleur-primaire, $couleur-secondaire);
        background-clip: text;
        transform: scale(1.15);
    }
}
*/
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 0;
}

header {
  text-align: center;
  height: 62px;
}

h1, h2 .menu, h4 {
  font-family: "shrikhand", sans-serif;
}

h1 {
  margin: 0 0;
  padding-top: 13px;
  height: 100%;
  font-weight: normal;
  font-size: 30px;
}

h3 {
  font-size: 18px;
  margin: 1px 0 0 0;
}

h4 {
  font-size: 19px;
  font-weight: 100;
  margin: 0 0 15px 0;
  padding-top: 21px;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding-left: 26px;
}
footer ul {
  display: flex;
  flex-direction: column;
  margin: 0 0;
  padding: 0 0 25px 0;
}
footer ul p {
  margin: 0 0;
}
@media all and (min-width: 769px) {
  footer ul {
    align-items: center;
  }
}
footer li {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
footer a {
  color: white;
}
footer a:hover {
  font-weight: bold;
  font-style: italic;
  color: #FF79DA;
}
@media all and (min-width: 769px) {
  footer {
    text-align: center;
  }
}

.fa-utensils {
  font-size: 13px;
  margin-right: 10px;
}

.fa-handshake-angle {
  font-size: 11px;
  margin-right: 7px;
}

.fa-heart {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: all 350ms;
  /* en attente
  &:active {
    animation: remplissage 350ms forwards;
  }
  */
}
.fa-heart:hover {
  text-shadow: none;
  color: transparent;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  transform: scale(1.15);
}

.infos {
  text-align: center;
  padding-bottom: 73px;
}
.infos h2 {
  max-width: 285px;
  line-height: 28px;
  margin: 38px auto 0 auto;
}
.infos p {
  max-width: 320px;
  font-size: 17.5px;
  margin: 13px auto 45px auto;
  color: rgb(101, 101, 101);
}
.infos a {
  padding: 15px 21px 16px 21px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  border-radius: 25px 25px;
  background: linear-gradient(173deg, #FF79DA, #9356DC);
  box-shadow: 1px 1px 5px rgb(53, 53, 53);
}
.infos a:hover {
  filter: brightness(1.15);
  box-shadow: 3px 5px 5px rgb(53, 53, 53);
}

.infos, .fonctionnement__etape, .restaurants {
  background-color: rgb(246, 246, 246);
}

.filtre {
  background-color: rgb(234, 234, 234);
  color: rgb(53, 53, 53);
  height: 50px;
}
.filtre input {
  background-color: rgb(234, 234, 234);
  color: rgb(53, 53, 53);
  border: none;
  margin-top: 15px;
  font-size: 14.5px;
  font-weight: 600;
}
.filtre i {
  margin: 0 11px 0 74px;
}

@media all and (min-width: 769px) {
  main h2 {
    text-align: center;
  }
}

.fonctionnement {
  margin-bottom: 67px;
}
.fonctionnement h2 {
  margin: 47px 0 27px 22px;
}
@media all and (min-width: 769px) {
  .fonctionnement h2 {
    margin: 35px 22px;
  }
}
.fonctionnement__etapes {
  margin-bottom: 18px;
}
@media all and (min-width: 769px) {
  .fonctionnement__etapes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.fonctionnement__etape {
  display: flex;
  align-items: center;
  margin: 0 20px 22px 32px;
  padding: 12px 0;
  border-radius: 20px 20px;
  box-shadow: 1px 8px 6px rgb(234, 234, 234);
}
.fonctionnement__etape:hover {
  background-color: #99E2D0;
}
.fonctionnement__etape:hover i {
  color: #9356DC;
}
.fonctionnement i {
  margin-left: 21px;
}

.etape-numero {
  font-size: 14px;
  color: white;
  background-color: #9356DC;
  margin-left: -11px;
  padding: 3px 8px;
  border-radius: 20px 20px;
}

.etape-texte {
  font-weight: 500;
  margin: 16px 0;
}
@media all and (min-width: 769px) {
  .etape-texte {
    margin-right: 30px;
  }
}

.fa-mobile-screen-button {
  font-size: 20px;
  color: rgb(126, 126, 126);
  margin-right: 26px;
}

.fa-list-ul {
  font-size: 19px;
  color: rgb(126, 126, 126);
  margin-right: 22px;
}

.fa-store {
  font-size: 18px;
  color: rgb(126, 126, 126);
  margin-right: 21px;
}

.restaurants {
  padding-bottom: 45px;
}

#restaurants {
  margin: 0 0 22px 20px;
  padding-top: 52px;
}
@media all and (min-width: 769px) {
  #restaurants {
    padding-top: 35px;
    margin: 0 20px 35px 20px;
  }
}

.selection-restaurants {
  display: flex;
  flex-wrap: wrap;
}

.carte {
  position: relative;
  width: 89.1%;
  height: 251px;
  margin: 0 auto 18px auto;
  border-radius: 15px 15px;
  background-color: white;
  box-shadow: 0px 5px 10px rgb(234, 234, 234);
}
.carte img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
.carte__image {
  height: 174px;
}
.carte__corps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 77px;
  padding: 0 25px 0 12px;
  border-radius: 0 0 15px 15px;
}
.carte p {
  font-size: 17px;
  font-weight: 300;
  margin: 3px 0 2px 0;
}
.carte i {
  font-size: 23px;
  margin-bottom: 9px;
}
@media all and (min-width: 769px) {
  .carte {
    max-width: 350px;
  }
}
@media all and (min-width: 1025px) {
  .carte {
    max-width: 275px;
  }
}

.nouveau {
  position: absolute;
  top: 13px;
  right: 13px;
  background-color: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  font-size: 14px;
  font-weight: 500;
  padding: 6px 12px 6px 11px;
  border-radius: 2px 2px;
  box-shadow: 0 0 1px rgb(153, 226, 208);
}

header {
  position: relative;
}

header a {
  position: absolute;
  top: 22px;
  left: 23px;
  font-size: 20px;
  color: rgb(53, 53, 53);
}

.image-restaurant {
  object-fit: cover;
  width: 100%;
  height: 275px;
}
@media all and (min-width: 769px) {
  .image-restaurant {
    height: 325px;
  }
}
@media all and (min-width: 1025px) {
  .image-restaurant {
    height: 375px;
  }
}

.menu {
  position: relative;
  background-color: rgb(246, 246, 246);
  margin-top: -59px;
  padding: 0 11px 99px 14px;
  border-radius: 40px 40px 0 0;
}
.menu h2 {
  font-family: "shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 500;
  margin: 31px 0 29px 0;
}
@media all and (min-width: 769px) {
  .menu h2 {
    padding-right: 50px;
  }
}
.menu h3 {
  font-size: 16px;
  font-weight: 300;
}
.menu__restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 6px;
}
@media all and (min-width: 769px) {
  .menu__restaurant {
    justify-content: center;
  }
}
.menu__contenu {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
}
@media all and (min-width: 769px) {
  .menu__contenu {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
.menu i {
  font-size: 25px;
  color: rgb(246, 246, 246);
}
.menu section {
  margin-bottom: 25px;
}

.barre {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin: 5px 0 14px 0;
}

.plats {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  background-color: white;
  margin-bottom: 14px;
  padding: 0 23px 0 10px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 5px 10px rgb(234, 234, 234);
  animation: apparition 800ms cubic-bezier(0.7, 0.2, 0.8, 0.5) backwards;
}
.plats--2 {
  animation-delay: 200ms;
}
.plats--3 {
  animation-delay: 300ms;
}
.plats h5 {
  font-size: 18px;
  font-weight: 500;
  margin: 12px 0 4px 0;
}
.plats p {
  font-size: 15px;
  font-weight: 300;
  margin: 4px 0 12px 0;
}
.plats__tarif {
  color: rgb(53, 53, 53);
  font-size: 15px;
  font-weight: 600;
}
@media all and (min-width: 769px) {
  .plats-liste {
    min-width: 350px;
    margin: 0 5px;
  }
}

.bouton-commander {
  text-align: center;
}
.bouton-commander a {
  padding: 15px 49px 16px 49px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  border-radius: 25px 25px;
  background: linear-gradient(173deg, #FF79DA, #9356DC);
  box-shadow: 1px 1px 5px rgb(53, 53, 53);
}
.bouton-commander a:hover {
  filter: brightness(1.15);
  box-shadow: 3px 5px 5px rgb(53, 53, 53);
}

/*# sourceMappingURL=style.css.map */
