* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 0;
}

header {
    text-align: center;
    height: 62px;
}

h1, h2 .menu, h4 {
    font-family: 'shrikhand', sans-serif;
}

h1 {
    margin: 0 0;
    padding-top: 13px;
    height: 100%;
    font-weight: normal;
    font-size: 30px;
}

h3 {
    font-size: 18px;
    margin: 1px 0 0 0;
}

h4 {
    font-size: 19px;
    font-weight: 100;
    margin: 0 0 15px 0;
    padding-top: 21px;
}

a {
    text-decoration: none;
    color:black
}

footer {
    background-color: $gris-fonce;
    color: white;
    padding-left: 26px;
    ul {
        display: flex;
        flex-direction: column;
        margin: 0 0;
        padding: 0 0 25px 0;
        p {
            margin: 0 0;
        }
    }
    li {
        display: flex;
        align-items: center;
        padding-bottom: 8px;
    }
}

.desactive {
    position: relative;
}

.active {
    transition: all 350ms;
    position: absolute;
    left: 0;
    bottom: 0;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to bottom, $couleur-primaire, $couleur-secondaire);
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}