.infos {
    text-align: center;
    padding-bottom: 73px;
    h2 {
        max-width: 285px;
        line-height: 28px;
        margin: 38px auto 0 auto;
    }
    p {
        max-width: 320px;
        font-size: 17.5px;
        margin: 13px auto 45px auto;
        color: rgb(101, 101, 101)
    }
    a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        padding: 15px 21px 16px 21px;
        border-radius: 25px 25px;
        background: linear-gradient(173deg, $couleur-secondaire, $couleur-primaire);
        &:hover {
            filter: brightness(1.15);
        }
    }
}

.infos, .fonctionnement__etape, .restaurants {
    background-color: $gris-clair;
}

.filtre {
    background-color: $gris;
    color: $gris-fonce;
    height: 50px;
    input {
        background-color: $gris;
        color: $gris-fonce;
        border: none;
        margin-top: 15px;
        font-size: 14.5px;
        font-weight: 600;
        }
    i {
        margin: 0 11px 0 74px;
        }
    }

.fonctionnement {
    margin-bottom: 67px;
    h2 {
        margin: 47px 0 27px 22px;
    }
    &__etapes {
        margin-bottom: 18px;
    }
    &__etape {
        display: flex;
        align-items: center;
        width: 323px;
        margin-bottom: 22px;
        margin-left: 32px;
        padding: 12px 0;
        border-radius: 20px 20px;
        box-shadow: 1px 8px 6px $gris;
        &:hover {
        background-color: $couleur-tertiaire;
            i {
                color: $couleur-primaire;
            }
        }
    }
    i {
        margin-left: 21px;
    }
}

.etape-numero {
    font-size: 14px;
    color: white;
    background-color: $couleur-primaire;
    margin-left: -11px;
    padding: 3px 8px;
    border-radius: 20px 20px;
}

.etape-texte {
    font-weight: 500;
    margin: 16px 0;
}

.fa-mobile-screen-button {
    font-size: 20px;
    color: rgb(126, 126, 126);
    margin-right: 26px;
}

.fa-list-ul {
    font-size: 19px;
    color: rgb(126, 126, 126);
    margin-right: 22px;
}

.fa-store {
    font-size: 18px;
    color: rgb(126, 126, 126);
    margin-right: 21px;
}

.restaurants {
    padding-bottom: 45px;
}

#restaurants {
    margin: 0 0 22px 20px;
    padding-top: 52px;
}

.selection-restaurants {
    display: flex;
    flex-direction: column;
}

.carte {
    position: relative;
    width: 89.1%;
    height: 251px;
    margin: 0 auto 18px auto;
    border-radius: 15px 15px;
    background-color: white;
    box-shadow: 0px 5px 10px $gris;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 15px 15px 0 0;
        }
    &__image {
        height: 174px;
        }
    &__corps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 77px;
        padding: 0 25px 0 12px;
        border-radius: 0 0 15px 15px;
        }
    p {
        font-size: 17px;
        font-weight: 300;
        margin: 3px 0 2px 0;
        }
    i {
        font-size: 23px;
        margin-bottom: 9px;
    }
}

.nouveau {
    position: absolute;
    top: 13px;
    right: 13px;
    background-color: $vert-clair;
    color: $vert;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 12px 6px 11px;
    border-radius: 2px 2px;
    box-shadow:  0 0 1px $vert-clair;
}