header {
    position: relative;
}

header a {
    position: absolute;
    top: 22px;
    left: 23px;
    font-size: 20px;
    color: $gris-fonce;
}

.image-restaurant {
    object-fit: cover;
    width: 100%;
    height: 275px;
    @include min-tablette {
        height: 325px;
    }
    @include min-desktop {
        height: 375px;
    }
}

.menu {
    position: relative;
    background-color: $gris-clair;
    margin-top: -59px;
    padding: 0 11px 99px 14px;
    border-radius: 40px 40px 0 0;
    h2 {
        font-family: 'shrikhand', sans-serif;
        font-size: 28px;
        font-weight: 500;
        margin: 31px 0 29px 0;
        @include min-tablette {
            padding-right: 50px;
        }
    }
    h3{
        font-size: 16px;
        font-weight: 300;
    }
    &__restaurant {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px 0 6px;
        @include min-tablette {
            justify-content: center;
        }
    }
    &__contenu {
        display: flex;
        flex-direction: column;
        margin-bottom: 27px;
        @include min-tablette {
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
    i {
        font-size: 25px;
        color: $gris-clair;
    }
    section {
        margin-bottom: 25px;
    }
    .fa-check {
        color: $couleur-tertiaire;
        font-size: 20px;
        padding: 2px 2px;
    }
}

.barre {
    background-color: $couleur-tertiaire;
    width: 40px;
    height: 3px;
    margin: 5px 0 14px 0;
  }

.plats {
    display: flex;
    align-items: center;
    background-color:white;
    margin-bottom: 14px;
    padding: 0 23px 0 10px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 5px 10px $gris;
    overflow: hidden;
    white-space: nowrap;
    animation: apparition 800ms ease-in-out backwards;
        @for $i from 2 through 4 {
            &--#{$i} {
                animation-delay: 100ms * $i;
            }
        }
    h5 {
        font-size: 18px;
        font-weight: 500;
        margin: 12px 0 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p {
        font-size: 15px;
        font-weight: 300;
        margin: 4px 0 12px 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__tarif {
        color: $gris-fonce;
        font-size: 15px;
        font-weight: 600;
        padding-top: 25px;
        padding-left: 5px;
        transition: width 300ms 100ms ease-in-out;
        width: 25px;
        text-align: left;
    }
    &-liste {
        @include min-tablette {
            width: 318px;
            margin: 0 5px;
        }
    }
    &__description {
        overflow: hidden;
        flex: 1;
    }
    &__ajout {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 68px;
        margin: 0 -130px 0 25px;
        padding: 0px 50px 0px 36px;
        background-color: $couleur-tertiaire;
        transform: translateX(0);
        transition: transform 500ms ease-in-out;
    }
    &__coche {
        background-color: white;
        transform: rotate(0deg);
        transition: transform 500ms ease-in-out;
        margin-left: -12px;
        border-radius: 25px 25px;
    }
    &:hover {
        & .plats__ajout {
            transform: translateX(-85px);
        }
        & .plats__coche {
            transform: rotate(360deg);
        }
        & .plats__tarif {
            width: 95px;
        }
    }
}

.bouton-commander {
    text-align: center;
    a {
        padding: 15px 49px 16px 49px;
        @include bouton;
    }
}