@mixin bouton {
    color: white;
    text-decoration: none;
    font-weight: 500;
    border-radius: 25px 25px;
    background: linear-gradient(173deg, $couleur-secondaire, $couleur-primaire);
    box-shadow: 1px 1px 5px $gris-fonce;
    &:hover {
        filter: brightness(1.15);
        box-shadow: 3px 5px 5px $gris-fonce;
    }
}

@mixin min-tablette {
    @media all and (min-width: map-get($breakpoints, tablette))
        {@content;} 
}

@mixin min-desktop {
    @media all and (min-width: map-get($breakpoints, desktop))
        {@content;} 
}

/* en attente
@keyframes remplissage {
    0% {
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    100% {
        text-shadow: none;
        color: transparent;
        background-image: linear-gradient(to bottom, $couleur-primaire, $couleur-secondaire);
        background-clip: text;
        transform: scale(1.15);
    }
}
*/