.fa-utensils {
    font-size: 13px;
    margin-right: 10px;
}

.fa-handshake-angle {
    font-size: 11px;
    margin-right: 7px;
}

.fa-heart {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: all 350ms;
    &:hover {
      text-shadow: none;
      color: transparent;
      background-image: linear-gradient(to bottom, $couleur-primaire, $couleur-secondaire);
      background-clip: text;
      transform: scale(1.15);
      }
}